node_modules
package-lock.json
config/config.json
.wakatime-project
script/config.js
.luacheckrc
src/structure/client/updatemanager.js
Host-Your-Own-Bot/config/config.json
Host-Your-Own-Bot/src/structure/client/updatemanager.js
